version: "3"

services:
    nginx-proxy:
        image: jwilder/nginx-proxy
        container_name: nginx-proxy
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./certs:/etc/nginx/certs
            - ./vhost:/etc/nginx/vhost.d
            - ./html:/usr/share/nginx/html
            - /var/run/docker.sock:/tmp/docker.sock:ro
            - ./my_proxy.conf:/etc/nginx/conf.d/my_proxy.conf
        networks:
            - nginx-proxy
    nginx-proxy-letsencrypt:
        image: jrcs/letsencrypt-nginx-proxy-companion
        container_name: nginx-proxy-letsencrypt
        volumes:
            - ./certs:/etc/nginx/certs
            - ./vhost:/etc/nginx/vhost.d
            - ./html:/usr/share/nginx/html
            - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
            NGINX_PROXY_CONTAINER: nginx-proxy
            DEFAULT_EMAIL: saintruler@gmail.com

networks:
    nginx-proxy:
        external:
            name: nginx-proxy
